<form
  action='/auth/signup'
  class='auth-form'
  method='POST'
  enctype='multipart/form-data'
>
  <div class='auth-form-container'>
    <h1>
      Welcome to My CarAmerican
    </h1>

    {{#if errorMessage}}
      <p class='error'>
        We were not able to sign you up! Please check on the error message below...
      </p>
    {{/if}}
    <p>
      Create your account and completely control the way you buy your next car.
    </p>
    <hr />

    <label class="required">
      <b>
        First Name
      </b>
      <br />
      <input
        type='text'
        placeholder='Enter First Name'
        name='firstName'
        required
      />
    </label>

    <label class="required">
      <b>
        Last Name
      </b>
      <br />
      <input
        type='text'
        placeholder='Enter Last Name'
        name='lastName'
        required
      />
    </label>

    <label  class='required'>
      <b>
        Email
      </b>
      <br />
      <input type='text' placeholder='Enter Email' name='email'/>
    </label>

    <label class='custom-file-upload required'>
      <input type='file' name='profilePic'/>
      <i class='fa fa-cloud-upload'></i>
      Upload Image
    </label>
    <br />
    <br />

    <label class='required'>
      <b>
        Password
      </b>
      <br />
      <input
        type='password'
        placeholder='Enter Password'
        name='password'
        class='required'
      />
    </label>

 <label  class='required'>
      <b>
        Re-type the Password
      </b>
      <br />
      <input
        type='password'
        placeholder='Enter Password'
        name='passwordRetype'
        class='required'
      />
    </label>

    <label>
      <input
        type='checkbox'
        checked='checked'
        name='remember'
        style='margin-bottom:15px'
      />
      Remember me
    </label>

    <p>
      By creating an account you agree to our
      <a href='#' style='color:dodgerblue'>
        Terms & Privacy
      </a>
      .
    </p>

    <button type='submit'>
      Create Account
    </button>

    {{#if errorMessage}}
      <p class='error'>
        {{errorMessage}}
      </p>
    {{/if}}
  </div>
</form>