<div class='details'>
  <h1>
    DETAILS
  </h1>

  <img
    src="{{vehicleFromAPI.imageUrl}}"
    alt="{{vehicleFromAPI.make.model}} image"
    height='300'
  />

  <h2>
    {{vehicleFromAPI.year.make.model}}
  </h2>

  <p>
    {{vehicleFromApi.condition}}
  </p>
</div>