<form action=''>
  <div class='set-of-vehicles'>
    {{#each vehiclesFromApi}}
      <div class='vehicle-card'>
        <img class='vehicle-img' src="{{this.primaryPhotoUrl}}" alt='' />
        <p>
          {{this.make}}
          test
        </p>
      </div>
    {{/each}}

    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
  </div>
</form>