<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
   <title>{{title}}</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <header>
      <div class='header-content'>
         <a class="app-title" href="/">
            <p>CarAmerican</p>
         </a>
         <nav class="nav-bar">
            <ul class='nav-bar-ul'>
               {{#if isLoggedIn}}
                  {{!-- <p id="welcome">Welcome, {{ isLoggedIn.firstName }}</p> --}}
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/auth/logout">Log Out</a></li>
               {{else}}
                  <li><a href="/auth/signup">Sign Up</a></li>
                  <li><a href="/auth/login">Log In</a></li>
               {{/if}}
            </ul>
         </nav>
      </div>
   </header>
   {{{body}}}
   <footer class="footer-section">
      <div id="footer-quote">America's Largest & Most Admired Automotive Retailer © 2021. CarAmerican.com</div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
   <script src="/js/script.js"></script>
</body>
</html>