<div class='saved-vehicles'>
  <div class="saved cars">
    <img class="user-image" src="" alt="happy car" />

  </div>
  <div class='saved list'>
    <h2>
      Name: {{userObject.saved-vehicles}}
    </h2>
  </div>

</div>