/* colors
dark blue = #225473
light blue = #04D9D9
white = #F2F2F2
super white = #FFFCFC
purple = #A194BF
pink = #F28DEB
black = #272727 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*::before,
*::after {
  box-sizing: content-box;
}

html {
  margin: 0;
  padding-top: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 14px Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 6rem;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  text-align: center;
}

.app-title img {
  /* text-decoration: none !important;
  color: #04D9D9; */
  height: 125px;
}

.app-title:hover {
  color: #F28DEB;
}

h1 {
  color: #225473;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

h2 {
  color: #225473;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

h3 {
  color: #225473;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  /* font-size: 1.3rem; */
}

h4 {
  color: #225473;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

h5 {
  color: #225473;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

header {
  margin: 0;
  z-index: 15;
}

header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  background-color: #225473;
  color: #04D9D9;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  border-bottom: 1rem solid #04D9D9;
}

.header-content p {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 0 3rem
}

.header-content li a {
  color: #F2F2F2;
  text-decoration: none;
}

.details {
  flex-direction: row;
}

.nav-bar {
  width: 40%;
}

.nav-bar ul {
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: .85rem;
}

.nav-bar ul li {
  margin: auto .5rem;
}

#nav-bar-img-name {
  display: flex;
  flex-direction: row;
}

#user-image-nav {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 .1rem;
}

#user-image-nav img {
  width: 100%;
  height: auto;
}

#user-image-nav li {
  margin: auto;
}

#name-top {
  color: #F28DEB;
  font-weight: bold;
}

.heart {
  font-size: 1.5rem;
}

.numbers-reviews-badge {
  position: absolute;
  top: -15px;
  right: 0px;
  z-index: 5;
  border: #F28DEB 3px solid;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  text-align: center;
  color: #F28DEB;
  font-size: 1.3rem;
  background-color: #225473;
}

.reviews-badge-text {
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: .45rem;
}

.footer-section {
  background-color: #225473;
  display: block;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  border-top: 1rem solid #04D9D9;
}

#footer-quote {
  font-size: .75rem;
  font-weight: lighter;
  margin: 2rem 0;
  color: #F2F2F2;
}

#top-area {
  background-image: url("../images/road.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: -5; */
}

#slogan {
  font-size: 2.5rem;
  margin: 7rem 0 2rem 0;
  color: #F2F2F2;
}

#main-search-area {
  margin: 2rem 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#search-form {
  /* background-color: #856161; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__group {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 60px;
}

#model.form__input {
  color: #04D9D9;
  font-size: .85rem;
  text-align: center;
  margin: 0;
}

#year_min.form__input {
  color: #04D9D9;
  font-size: .85rem;
  text-align: center;
  margin: 0;
}

#year_max.form__input {
  color: #04D9D9;
  font-size: .85rem;
  text-align: center;
  margin: 0;
}

.form__input_make {
  color: #04D9D9;
  font-size: .95rem;
  text-align: center;
}

.search-button {
  margin-top: 1rem;
  padding: .50rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #ff00ee, #F28DEB);
  font-weight: bold;
  border: .5px solid #FFA500;
  height: 45px;
  width: 175px;
  font: 1.1rem Helvetica, "Lucida Grande", Arial, sans-serif;
  color: white;
  box-shadow: 0 4px #F28DEB;
}

.search-button:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  outline: none;
}

.search-button:focus {
  outline: none;
}

.main-section {
  margin-bottom: 2rem;
}

.main-section h1 {
  margin: 2rem 0;
}

.set-of-vehicles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.set-of-vehicles .vehicle-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, #F2F2F2, #FFFCFC);
  padding: .75rem;
  margin: 0 .75rem;
  box-shadow: 3px 3px 3px lightgray;
  border-radius: 10px;
}

.set-of-vehicles .vehicle-card:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  outline: none;
}

.set-of-vehicles .vehicle-card img {
  width: 85%;
  margin: 0 auto;
}

.vehicle-img {
  width: 35%;
}

/*YOU MIGHT LIKE SECTION*/
.vehicle-card-index-page {
  text-decoration: none !important;
  position: relative;
}

.vehicle-card-index-page .vehicle-card .vehicle-img {
  margin-bottom: .5rem;
}

.vehicle-card-index-page .vehicle-card * {
  margin-bottom: .5rem;
  color: #225473
}

/* DETAILS PAGE */

/* PSEUDO BUTTON TO SUBMIT FORM FOR GETTING VEHICLE DETAILS*/
.button-to-open-vehicle-details {
  padding: 0;
  border: none;
  background: none;
}

.button-to-open-vehicle-details:focus {
  outline: 0;
}

.button-to-open-vehicle-details.list-vehicles {
  width: 800px;
}

@media (max-width: 964px) {
  .button-to-open-vehicle-details.list-vehicles {
    width: 100%;
  }
}

.save-buy-buttons {
  margin: .5rem
}

.vehicle-details {
  background-image: linear-gradient(to bottom, #F2F2F2, #FFFCFC);
  box-shadow: 3px 3px 3px lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}

#vehicle-details-div {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.set-of-pictures-left-side {
  max-width: 640px;
}

.set-of-pictures-left-side .main-image {
  width: 100%;
}

.more-images {
  padding-top: 1.2rem;
  max-width: 543px;
  margin: 0 auto;
  position: relative;
}

.set-of-small-pics {
  width: 543px;
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
}

.small-pic {
  transition: transform .4s;
  margin: .1rem .05rem;
  width: 3rem;
}

.small-pic:active {
  position: absolute;
  top: -200px;
  left: 250px;
  transform: scale(14);
}

.small-pic-slide {
  width: 8rem;
}

#vehicle-main-description {
  font-size: .7rem;
  text-align: justify;
}

/* VEHICLE DETAILS - SLIDESHOW */
.slider {
  width: 543px;
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.slide {
  display: flex;
  align-items: center;
  animation: slideshow 120s linear infinite
}

.slide img {
  padding: 0 10px 0 10px
}

@keyframes slideshow {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

.slider::before,
.slider::after {
  width: 543px;
  height: 100px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0) 10%);
  z-index: 2
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  left: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.main-details {
  /* background-image: linear-gradient(to bottom, #F2F2F2, #FFFCFC);
  box-shadow: 3px 3px 3px lightgray; */
  /* margin-right: 5rem; */
  width: 50%;
  padding-left: 1rem;
}

.main-details>* {
  text-align: left;
}

.main-details h1 {
  margin-top: 0;
}

#details-price-mileage {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}

#details-price {
  margin-right: 2rem;
}

#details-mileage {
  margin-right: 2rem;
}

#dealer-section-container {
  text-align: left;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

#dealer-content-container {
  display: flex;
  flex-direction: row;
}

#dealer-name-title {
  text-align: left;
  background-image: linear-gradient(to bottom, #F2F2F2, #FFFCFC);
  box-shadow: 3px 3px 3px lightgray;
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
}

.dealer-review-section {
  background-image: linear-gradient(to bottom, #F2F2F2, #FFFCFC);
  margin-left: 2rem;
  box-shadow: 3px 3px 3px lightgray;
  padding: 1rem;
  border-radius: 10px;
  /* width: 100%; */
}

#reviews-container {
  width: 100%;
}

#review-control-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: right;
}

#btn-btn-danger {
  margin-left: 1rem;
  color: white;
  background-color: lightgray;
  border-radius: 4rem;
  border: none;
  padding: .35rem 1rem;
}

#btn-btn-danger:hover {
  background-color: #D9415D;
}

#btn-btn-warning {
  margin-left: 1rem;
  color: white;
  background-color: lightgray;
  border-radius: 4rem;
  border: none;
  padding: .35rem 1rem;
}

#btn-btn-warning:hover {
  background-color: #04D9D9;
}

#logo-dealer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 964px) {

  .vehicle-details,
  .set-of-vehicles {
    flex-direction: column;
    justify-content: center;
  }

  .vehicle-card-index-page {
    margin: 1rem;
  }

  .set-of-pictures-left-side {
    margin: 0 auto;
  }

  .main-details>* {
    text-align: center;
  }

  .main-details h1 {
    margin-top: 3rem;
  }

  #vehicle-details-div {
    flex-direction: column;
    justify-content: center;
  }

  .main-details {
    margin: 0 auto;
    width: 90%;
  }
}


.no-review-header {
  position: relative;
}

.arrow-left {
  font-size: 50px;
  position: absolute;
  top: 9rem;
  animation-name: attacking;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes attacking {
  0% {
    /* font-size: 50px; */
    left: 50px;
    top: 60px
  }


  50% {
    /* font-size: 80px; */
    left: -150px;
    top: 110px;
  }


  100% {
    /* font-size: 50px; */
    left: 50px;
    top: 60px
  }
}



/*REVIEW-FORMS*/
.update-review-container form {
  margin: 0 auto;
  width: 50%;
}

.update-review-container form textarea {
  width: 100%;
}

/* ERROR MESSAGE STYLES */
.info,
.success,
.warning,
.error {
  margin: 10px 0px;
  padding: 12px;

}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
}

.info i,
.success i,
.warning i,
.error i {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* 
.info,
.success,
.warning,
.error:active {
  visibility: hidden;
} */

.info i,
.success i,
.warning i,
.error i {
  margin: 10px 22px;
  font-size: 1rem;
  vertical-align: middle;
}

.error-banner:hover {
  text-decoration: none;
}

/* USER PROFILE PAGE */

.user-profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

#user-profile-top {
  padding: 3rem;
  /* background-color: #FFFCFC; */
  background-image: linear-gradient(to bottom, #F2F2F2, #FFFCFC);
  box-shadow: 0 0 6px 0 lightgray;
  margin-bottom: 0.75rem;
}

#user-image-div {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 4px 4px 4px lightgray;
  margin: 0 auto;
}

#user-image-div img {
  width: 100%;
  height: auto;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#profile-name {
  color: #272727;
  margin: .5rem;
}

.error-banner p {
  margin: 0 auto;
}

#user-feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#user-feed div {
  margin: 0 0.25rem;
  margin-bottom: 0.5rem;
}

#info-card {
  background-color: #FFFCFC;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: .75rem;
  width: 25%;
  box-shadow: 3px 3px 3px lightgray;
}

#info-card-content {
  align-items: left;
}

#right-side-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#user-listings {
  background-color: #FFFCFC;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  padding: .75rem;
}


#saved-vehicles {
  background-color: #FFFCFC;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  padding: .75rem;
}

#delete-account button {
  border-radius: 5rem;
  padding: .6rem 2rem;
  background-color: lightgray;
  border: none;
  margin-top: 1rem;
}

#delete-account button:hover {
  opacity: 2;
  background-color: #E83E5A;
  color: white;
}

/* .auth-form-container button {
  background-color: #04D9D9;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 50rem;
} */

/* USER PROFILE PAGE */

/* EDIT PROFILE PAGE */

.edit-form {
  border: .25rem solid #225473;
  margin: 2.5% 30%;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 1rem;
  background-color: white;
}

input[type=text] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: .1rem solid lightgray;
  background: #F2F2F2;
}

.edit-form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.edit-form-container textarea {
  width: 95%;
}

.edit-form-container p {
  color: gray;
  font-weight: lighter;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for buttons */
.edit-form-container button {
  background-color: #04D9D9;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 50rem;
}

.edit-form-container button:hover {
  opacity: 2;
  background-color: #F28DEB;
}

.edit-form-container button:focus {
  outline: none;
}

/* A U T H F O R M S */

.auth-form {
  border: .25rem solid #225473;
  margin: 2.5% 30%;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 1rem;
  background-color: white;
}

input[type=text],
input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: .1rem solid lightgray;
  background: #F2F2F2;
}

input[type=password]:focus {
  background-color: pink;
  outline: none;
}

.auth-form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.auth-form-container textarea {
  width: 95%;
}

.auth-form-container p {
  color: gray;
  font-weight: lighter;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for buttons */
.auth-form-container button {
  background-color: #04D9D9;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 50rem;
}

.auth-form-container button:hover {
  opacity: 2;
  background-color: #F28DEB;
}

.auth-form-container button:focus {
  outline: none;
}

/* A U T H F O R M S */
#sign-up-button {
  background-color: #F28DEB;
}

/* V E H I C L E S   L I S T */
.list-of-vehicles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-of-vehicles a {
  text-decoration: none;
  color: #225473;
}

.list-of-vehicles-box {
  width: 75%;
  margin: 0 auto;
}

.list-of-vehicles-box #vehicle-card {
  margin: 1rem auto;
}

#vehicle-card {
  display: flex;
  flex-direction: row;
  margin: 5% 10%;
  box-shadow: 5px 5px 5px lightgray;
  background-color: white;
  border-radius: 10px;
}

#vehicle-card:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  outline: none;
}

#vehicle-primary-img {
  height: 200px;
}

.vehicle-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vehicle-year-make {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


/* V E H I C L E S   L I S T */