/* colors
dark blue = #225473
light blue = #04D9D9
white = #F2F2F2
purple = #A194BF
pink = #F28DEB */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap');

html {
  margin-top: 0;
  padding-top: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  margin-top: 7rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  text-align: center;
}

.app-title {
  text-decoration: none !important;
  color: #04D9D9;
}

h1 {
  color: #225473;
}

header {
  z-index: 7;
}

header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  background-color: #225473;
  color: #04D9D9;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  border-bottom: 1rem solid #04D9D9;
}

.header-content p {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 0 3rem
}

.header-content li a {
  color: #F2F2F2;
  text-decoration: none;
}

.details {
  flex-direction: row;
}

.nav-bar {
  width: 40%;
}

.nav-bar ul {
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: .75rem;
}

.nav-bar ul li {
  margin: 0rem .5rem;
}

.footer-section {
  background-color: #225473;
  display: block;
  height: 5rem;
  margin-top: auto;
  border-top: 1rem solid #04D9D9;
}

#footer-quote {
  font-size: .75rem;
  font-weight: lighter;
  margin: 2rem 0;
  color: #F2F2F2;
}

#top-area {
  background-image: url("../images/road.jpg");
  background-color: #cccccc;
  height: 55vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -1rem
}

#slogan {
  font-size: 2.5rem;
  margin: 7rem 0 2rem 0;
  color: #F2F2F2;
}

#main-search-area {
  margin: 2rem 15%;
}


/* MAIN SEARCH */
.form__group {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 60px;
}

@media (max-width: 964px) {
  .form__group {
    flex-direction: column;
    justify-content: center;
  }

  .form__group button {
    width: 55%;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 1.55rem;
    color: #225473;
  }


}

#model.form__input {
  color: #04D9D9;
  font-size: .85rem;
  text-align: center;
  margin: 0;
}

#year_min.form__input {
  color: #04D9D9;
  font-size: .85rem;
  text-align: center;
  margin: 0;
}

#year_max.form__input {
  color: #04D9D9;
  font-size: .85rem;
  text-align: center;
  margin: 0;
}

.form__input_make {
  color: #F28DEB;
  font-size: .95rem;
  text-align: center;
  z-index: 100;
}

.search-button {
  height: 60px;
  width: 100px;
}

.set-of-vehicles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.set-of-vehicles .vehicle-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.set-of-vehicles .vehicle-card img {
  width: 85%;
  margin: 0 auto;
}

.vehicle-img {
  width: 100px;
}

@media (min-width: 964px) {
  .set-of-vehicles .vehicle-card {
    width: 20rem;
  }

  /* DETAILS PAGE */
  .vehicle-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .set-of-pictures-left-side {
    max-width: 640px;
  }

  .set-of-pictures-left-side .main-image {
    width: 85%;
  }

  .more-images {
    max-width: 543px;
    margin: 0 auto;
  }

  .small-pic {
    width: 3rem;
  }


  .main-details>* {
    text-align: left;
  }

  .main-details h1 {
    margin-top: 0;
  }

  .main-details .price {
    margin-left: 2rem;
  }

  .dealer-review-section {
    background-color: #04D9D9;
  }

  @media (max-width: 964px) {
    .vehicle-details {
      flex-direction: column;
      justify-content: center;
    }

    .set-of-pictures-left-side {
      margin: 0 auto;
    }

    .main-details>* {
      text-align: center;
    }

    .main-details h1 {
      margin-top: auto;
    }
  }

  /* USER PROFILE PAGE */

  .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    align-content: left;
  }

  /* A U T H F O R M S */

  .auth-form {
    border: .25rem solid #225473;
    margin: 2.5% 30%;
    box-shadow: 10px 5px 5px lightgray;
    border-radius: 1rem;
    background-color: white;
  }

  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: .1rem solid lightgray;
    background: #F2F2F2;
  }

  input[type=password]:focus {
    background-color: pink;
    outline: none;
  }

  .auth-form-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .auth-form-container p {
    color: gray;
    font-weight: lighter;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for all buttons */
  .auth-form-container button {
    background-color: #04D9D9;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 50rem;
  }

  .auth-form-container button:hover {
    opacity: 2;
    background-color: #F28DEB;
  }

  /* A U T H F O R M S */


  /* V E H I C L E S   L I S T */

  .list-of-vehicles {
    display: flex;
    flex-direction: column;
  }

  #vehicle-card {
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
    box-shadow: 5px 5px 5px lightgray;
    background-color: white;
  }

  #vehicle-primary-img {
    height: 200px;
  }

  .vehicle-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .vehicle-year-make {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }



  /* V E H I C L E S   L I S T */